<form [formGroup]="cardForm">
  <input formControlName="name" />
  <ng-container *ngIf="cardForm.controls.name.errors">
    <div *ngIf="cardForm.controls.name.errors.required">
      Value Required
    </div>
    <div *ngIf="cardForm.controls.name.errors.minlength">
      Value must be longer
    </div>
  </ng-container>
</form>

<div>Form Content: {{ cardForm.value | json }}</div>
<div>Form is Valid: {{ cardForm.valid }}</div>
<div>Error around name: {{ cardForm.controls.name.errors | json }}</div>
