<div class="field">
  <div class="label">{{ label }}</div>

  <div class="control">
    <input
      class="input"
      [formControl]="control"
      [ngClass]="{
        'is-danger': showErrors()
      }"
    />
  </div>

  <ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors.required">
      Value Required
    </div>
    <div class="help is-danger" *ngIf="control.errors.minlength">
      Value you entered {{ control.errors.minlength.actualLength }}, but it
      should be at least {{ control.errors.minlength.requiredLength }}
    </div>
  </ng-container>

  <hr />
</div>
